[user]
    email = info.otero.gabriel@gmail.com
    name = Gabriel
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPrsIy/mXamzCPeLQEHL+h7kJBzUM7saG2DpdwzarYe1
[init]
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    gpgsign = true

[gpg]
    format = ssh

# Linux
[includeIf "gitconfig:i/Have:Path:/opt/1Password/"]
    path = "$HOME/.config/git/linux/gitconfig"

# macOS
[includeIf "gitconfig:i/Have:Path:/Applications/1Password.app/"]
    path = "$HOME/.config/git/macos/gitconfig"


