[user]
    email = info.otero.gabriel@gmail.com
    name = Gabriel
[core]
    excludesFile = ~/.config/git/ignore
[init]
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    gpgsign = true

[gpg]
    format = ssh

# Platform-specific config (signingkey + gpg ssh program)
# Symlinked by bootstrap.sh to the correct OS file
[include]
    path = ~/.config/git/platform/gitconfig
